@import "./abstracts/normalize.scss";
@import "./abstracts/vars";
@import './abstracts/mixins';
@import './animate.scss ';
.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    @media screen and (max-width: 1500px) {
        padding: 0 40px;
    }
    @media screen and (max-width: 768px) {
        padding: 0 50px;
    }
    @media screen and (max-width: 576px) {
        padding: 0 40px;
    }
    @media screen and (max-width: 360px) {
        padding: 0 20px;
    }
}
@import './components/nav';
@import './components/text';
@import './components/title';
@import './components/subtitle';
@import "./layout/header";
@import "./components/blocks/home";
@import "./components/social";
@import "./components/contacts";
@import "./components/blocks/about";
@import "./components/blocks/portfolio";
@import "./components/connection";
@import "./components/form";
@import "./components/blocks/skills";
@import "./layout/footer";
@import "./components/swiper";

@import "./components/pagePortfolio";