@import "./abstracts/normalize.scss";
@import "./abstracts/vars";
@import './abstracts/mixins';
.container {
    max-width: 1250px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding: 0px 40px;
    position: relative;
    clear: both;
    margin: 0 auto;
    padding: 0 16px;
    @media screen and (min-width: 576px) {
        padding: 0 40px;
    }
    @media screen and (min-width: 768px) {
        padding: 0 50px;
    }
    @media screen and (min-width: 1280px) {
        max-width: 1250px;
        padding: 0;
        margin: 0 auto;
    }
}

@import './components/text';
@import './components/title';
@import './components/subtitle';
@import "./layout/header";
@import "./components/blocks/home";
@import "./components/social";
@import "./components/contacts";
@import "./components/blocks/about";
@import "./components/blocks/portfolio";
@import "./components/connection";
@import "./components/form";
@import "./components/blocks/skills";
@import "./layout/footer";
@import "./animate.scss";