$accentColor: #FC9B09;
$primaryColor: #fff;
$secondaryColor :#37373f;
$textColor: #b3b3b3;
$linkColor: #5286ec;
// %container {
//     max-width: 1250px;
//     width: 100%;
//     margin-left: auto;
//     margin-right: auto;
//     height: auto;
//     padding: 0px 40px;
//     position: relative;
//     clear: both;
//     margin: 0 auto;
//     padding: 0 16px;
//     // max-width: 1140px;
//     @media screen and (max-width: 576px) {
//         padding: 0 35px;
//     }
//     @media screen and (max-width: 768px) {
//         padding: 0 50px;
//     }
//     @media screen and (max-width: 1280px) {
//         max-width: 1140px;
//         padding: 0;
//         margin: 0 auto;
//     }
// }
$breakpoints: ( xs: 576px, sm: 768px, md: 1280px, lg: 1440px);