.nav {
    &__item {
        opacity: 1;
        visibility: visible;
        left: 0px;
        margin: 0px 20px 0px 0px;
        display: inline-block;
        list-style-type: none;
    }
    &__link {
        &:hover {
            color: #ff4522;
            transition: all 0.3s ease;
            transform: scale(1.5);
        }
    }
}
