.about {
    width: 100%;
    height: auto;
    padding: 110px 0px 110px 0px;
    &__subtitle {
        margin: 0 0 56px;
        font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
        font-size: 55px;
        line-height: 50px;
        font-weight: 500;
        text-align: left;
    }
    &__text {
        margin: 0 0 32px;
        // @media screen and (max-width: 576px) {
        //     font-size: 20px;
        // }
    }
    &__slider-block {
        max-width: 850px;
        height: 200px;
        overflow: hidden;
        margin: 10px auto 10px;
        // @media screen and (max-width: 968px) {
        //     width: 460px;
        // }
        // @media screen and (max-width: 576px) {
        //     width: 260px;
        // }
    }
}