.home {
    background-color: #f9f9f9;
    min-height: 100vh;
    &__content {
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        position: relative;
        @media screen and (max-width: 972px) {
            flex-wrap: wrap;
        }
        @media screen and (max-width: 360px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 50px;

        }
    }
    &__avatar {
        position: relative;        
        @media screen and (max-width: 972px) {
            margin: 0 auto;
            margin-top: 200px;
        }
        @media screen and (max-width: 360px) {
            margin: 0;
        }
    }
    
    &__image {
        // right: 0px;
        max-width: 100%;
        width: 300px;
        height: 300px;
        object-fit: contain;
        background-image: url(../images/home/1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        animation: border-user 8s ease-in-out infinite 1s;
        -webkit-box-shadow: inset 0px 0px 0px 9px rgba(255, 255, 255, .3);
        -moz-box-shadow: inset 0px 0px 0px 9px rgba(255, 255, 255, .3);
        box-shadow: inset 0px 0px 0px 9px rgba(255, 255, 255, .3);
        // box-shadow: 10px 5px 5px black;
        // box-shadow: 3px 3px red, -1em 0 .4em red;
        @media screen and (max-width: 972px) {
            width: 400px;
            height: 400px;
        }
        @media screen and (max-width: 695px) {
            width: 350px;
            height: 350px;
        }
        @media screen and (max-width: 440px) {
            width: 300px;
            height: 300px;
        }
        // @media screen and (max-width: 370px) {
        //     width: 200px;
        //     height: 200px;
        // }
        @media screen and (max-width: 360px) {
            width: 200px;
            height: 200px;
        }
    }
    &__details {
        text-align: left;
        margin-left: 100px;
        display: flex;
        flex-direction: column;
        gap: 30;
        gap: 20px;
        @media screen and (max-width: 1180px) {
            margin-left: 55px;
        }
        @media screen and (max-width: 976px) {
            margin: 0 auto;
        }
        
        
    }
    
    // &__title {
    //     font-size: 88px;
    //     line-height: 96px;
    //     font-weight: 500;
    //     @media screen and (max-width: 1180px) {
    //         font-size: 73px;
    //     }
    //     @media screen and (max-width: 687px) {
    //         font-size: 65px;            
    //     }
    //     @media screen and (max-width: 550px) {
    //         font-size: 50px;
    //         max-width: 250px;
    //         line-height: 76px;
    //     }
    //     @media screen and (max-width: 360px) {
    //         font-size: 30px;
    //         max-width: 220px;
    //     }
    
    // }

    // test
    &__title-block {
        display:flex;
        gap: 25px;
        @media screen and (max-width: 440px) {
            flex-direction: column;
            gap: 0;           
        }
        @media screen and (max-width: 360px) {
            flex-direction: row;
            gap: 15px;
        }

    }
    &__title-name,
    &__title-surname {
        display: flex;

    }
    &__letter {
        font-size: 88px;
        line-height: 96px;
        font-weight: 500;
        color: dimgrey;
        &:hover {
            transform: scale(1.2);
            transition-duration: .3s;
            color:#ff4522;
        }
        @media screen and (max-width: 1180px) {
            font-size: 73px;
        }
        @media screen and (max-width: 687px) {
            font-size: 65px;            
        }
        @media screen and (max-width: 550px) {
            font-size: 50px;
            line-height: 76px;
        }
        @media screen and (max-width: 360px) {
            font-size: 30px;
        }

    }
    &__text {
        font-size: 32px;
        line-height: 48px;
        @media screen and (max-width: 1180px) {
            font-size: 25px;
            line-height: 42px;
        }
        @media screen and (max-width: 440px) {
            font-size: 22px;
            max-width: 240px;
        }
        @media screen and (max-width: 360px) {
            font-size: 20px;
            max-width: 250px;
        }
    }

    @keyframes border-user {
        0% {
            border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        }
        50% {
            border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
        }
        100% {
            border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        }
    }
}