    .portfolio {
        height: auto;
        padding: 140px 0px 140px 0px;
        @media screen and (max-width: 360px) {
            padding: 50px 0px 50px 0px;        
        }
        &__grid {
            display: grid;
            grid-column-gap: 30px;
            grid-row-gap: 30px;
            grid-auto-columns: 1fr;
            grid-template-columns: 1.5fr 1fr 1.5fr;
            grid-template-rows: auto auto;
            // @media screen and (max-width: 360px) {
            //     display: flex;
            //     flex-direction: column;
            //     justify-content: center;
            // }
        }
        &__block1 {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        &__img {
            display: flex;
            height: 460px;
            margin-bottom: 40px;
            background-position: 50% 50%;
            &:hover {
                opacity: 0.8;
                transition: 0.5s;
            }
        }
        &__work1 {
            background-image: url("https://assets.website-files.com/5c6e6f46bf98b2013cf621c5/5cdbececb102f913e509144f_portfolio%201%20-%20wide.svg");
            background-size: cover;
        }
        // &__work1,
        // &__work2,
        // &__work3,
        // &__work4 {
        //     @media screen and (max-width: 360px) {
        //         width: 270px;
        //     }


        
        &__block2 {
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        &__work2 {
            background-image: url("https://assets.website-files.com/5c6e6f46bf98b2013cf621c5/5cdbececb102f96f5809144e_portfolio%202%20-%20wide.svg");
            background-size: cover;
        }
        &__block3 {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;
        }
        &__work3 {
            background-image: url("https://assets.website-files.com/5c6e6f46bf98b2013cf621c5/5cdbececded4a04d627de84c_portfolio%204%20-%20wide.svg");
            background-size: cover;
        }
        &__block4 {
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row-start: 2;
            grid-row-end: 3;
        }
        &__work4 {
            background-image: url("https://assets.website-files.com/5c6e6f46bf98b2013cf621c5/5cdbececded4a0184e7de84b_portfolio%203%20-%20wide.svg");
            background-position: 50% 50%;
            background-size: cover;
        }
        &__description {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 60px;
            @media screen and (max-width: 360px) {
                align-items: self-start;
                margin-bottom: 15px;
            }
        }
        &__name {
            margin-bottom: 5px;
            font-size: 20px;
            line-height: 34px;
            font-weight: 400;
            &:hover {
                opacity: 0.6;
                transition: 0.2s;
            }
        }
        &__paragraph {
            opacity: 0.6;
        }
    }