    .portfolio {
        height: auto;
        padding: 140px 0px 140px 0px;
        @media screen and (max-width: 360px) {
            padding: 50px 0px 50px 0px;        
        }
        &__gallery {
            display: grid;
            grid-column-gap: 30px;
            grid-row-gap: 30px;
            grid-auto-columns: 1fr;
            grid-template-columns: 1.5fr 1fr 1.5fr;
            grid-template-rows: auto auto;
            // @media screen and (max-width: 360px) {
            //     display: flex;
            //     flex-direction: column;
            //     justify-content: center;
            // }
        }
        &__block1 {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        &__img {
            display: flex;
            height: 460px;
            margin-bottom: 40px;
            background-position: 50% 50%;
            opacity: 0.8;
            &:hover {
                opacity: 1;
                transition: 0.5s;
            }
        }
        &__work1 {
            background-image: url("../images/portfolio/fly.png");
            background-size: cover;
        }
        
        &__block2 {
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        &__work2 {
            background-image: url("../images/portfolio/productivity.png");
            background-size: cover;
        }
        &__block3 {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;
        }
        &__work3 {
            background-image: url("https://assets.website-files.com/5c6e6f46bf98b2013cf621c5/5cdbececded4a04d627de84c_portfolio%204%20-%20wide.svg");
            background-size: cover;
        }
        &__block4 {
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row-start: 2;
            grid-row-end: 3;
        }
        &__work4 {
            background-image: url("https://assets.website-files.com/5c6e6f46bf98b2013cf621c5/5cdbececded4a0184e7de84b_portfolio%203%20-%20wide.svg");
            background-position: 50% 50%;
            background-size: cover;
        }
        &__description {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 60px;
            @media screen and (max-width: 360px) {
                align-items: self-start;
                margin-bottom: 15px;
            }
        }
        &__name {
            margin-bottom: 5px;
            font-size: 20px;
            line-height: 34px;
            font-weight: 400;
            opacity: 0.6;
            &:hover {
                opacity: 1;
                transition: 0.2s;
            }
        }
        &__git {
            width:30px;
            height: 30px;
            &:hover {
                fill: #ff4522;
                transform: scale(1.5);
                transition: all .3s ease;
            }
        }
        &__link-more {
            width: 200px;
            margin: 0 auto;
            height: auto;
            position: relative;
            border: none;
            cursor: pointer;
            font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
            text-decoration: none;
            color: #fff;
            font-size: 17px;
            display: block;
            text-align: center;
            padding: 10px;
            background: #ff4522;
            transform: none;
            transition: all .3s ease;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
                color: #fff;
                background-color: #000;
        }

        }
        &__link-text {
            position: relative;
            &::after {
                @include pseudo;
                @include background;
                background-image: url(../images/seeMore/seeMoreRow.svg);
                width: 17px;
                height: 17px;
                top: 8px;
                right: -28px;
            }
            &:hover::after {
                transform: rotate(-180deg);
                transition: all 1s ease;
            }
        }
        
    }