                .skills {
                    background-color: #1d1d1d;
                    color: #fff;
                    height: auto;
                    position: relative;
                    padding: 140px 0px 150px 0px;
                    // opacity: 0;
                    // transform: translateY(20px);
                    // &.element-show {
                    //     opacity: 1;
                    //     transition: opacity 1s;
                    // }
                    &::after {
                        @include pseudo($content: '<body>');
                        font-family: 'La Belle Aurore', cursive;
                        color: #515152;
                        top: 35px;
                        left: 105px;
                        font-size: 15px;
                    }
                    &::before {
                        @include pseudo($content: '</html>');
                        font-family: 'La Belle Aurore', cursive;
                        color: #515152;
                        top: 0px;
                        left: 0px;
                        font-size: 15px;
                    } // &::after {
                    //     @include pseudo($content: 'body');
                    //     font-family: 'La Belle Aurore', cursive;
                    //     color: #515152;
                    //     top: 15px;
                    //     left: 20px;
                    //     margin-left: 2rem;
                    // }
                    // &::before {
                    //     @include pseudo($content: '</html>');
                    //     font-family: 'La Belle Aurore', cursive;
                    //     color: #515152;
                    //     top: 0;
                    //     left: 0;
                    //     margin-left: 2rem;
                    // }
                    &__wrap {
                        display: flex;
                        gap: 200px;
                    }
                    &__title {
                        position: relative;
                        &::before {
                            @include pseudo($content: '<h3>');
                            font-family: 'La Belle Aurore', cursive;
                            color: #515152;
                            top: -25px;
                            left: -20px;
                            font-size: 12px;
                        }
                        &::after {
                            @include pseudo($content: '</h3>');
                            font-family: 'La Belle Aurore', cursive;
                            color: #515152;
                            top: 10px;
                            left: 105px;
                            font-size: 12px;
                        } // &::after {
                        //     @include pseudo($content: '<body>');
                        //     font-family: 'La Belle Aurore', cursive;
                        //     color: #515152;
                        //     top: -100px;
                        //     left: -110px;
                        //     margin-left: 2rem;
                        // }
                        // &::before {
                        //     @include pseudo($content: '</html>');
                        //     font-family: 'La Belle Aurore', cursive;
                        //     color: #515152;
                        //     top: -130px;
                        //     left: -130px;
                        //     margin-left: 2rem;
                        // }
                    }
                    // &::before {
                    //     @include pseudo($content: '<h3>');
                    //     font-family: 'La Belle Aurore', cursive;
                    //     color: #515152;
                    //     top: 33px;
                    //     left: -20px;
                    //     font-size: 30px;
                    // }
                    // &::after {
                    //     @include pseudo($content: '</h3>');
                    //     font-family: 'La Belle Aurore', cursive;
                    //     color: #515152;
                    //     top: 10px;
                    //     left: 105px;
                    //     font-size: 12px;
                    // }
                    &__text {
                        margin-bottom: 30px;
                        &::before {
                            @include pseudo($content: '<p>');
                            font-family: 'La Belle Aurore', cursive;
                            color: #515152;
                            top: 100px;
                            left: -24px;
                            font-size: 12px;
                            margin-bottom: 20px;
                        }
                        &::after {
                            @include pseudo($content: '</p>');
                            font-family: 'La Belle Aurore', cursive;
                            color: #515152;
                            top: 180px;
                            left: -25px;
                            font-size: 12px;
                        }
                    }
                    &__block-text {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                    // PROGRESS BAR
                    &__inner {
                        width: 100%;
                        padding-top: 5px;
                        padding-bottom: 10px;
                        margin-bottom: 10px;
                    }
                    &__ampty {
                        overflow: hidden;
                        background: rgba(255, 255, 255, .09);
                        min-width: 100%;
                        position: relative;
                        height: 8px;
                    }
                    &__fill {
                        background-color: red;
                        height: 100%;
                    }
                    &__progress-line1 {
                        animation: progress1 3s forwards;
                    }
                    &__progress-line2 {
                        animation: progress2 3s forwards;
                    }
                    &__progress-line3 {
                        animation: progress3 3s forwards;
                    }
                    &__progress-line4 {
                        animation: progress4 3s forwards;
                    }
                    // &__right {
                    //     position: absolute;
                    //     top: 0;
                    //     right: 0;
                    // }
                    &__img {
                        width: 100%;
                    }
                }
                
                @keyframes progress1 {
                    0% {
                        width: 0%;
                    }
                    100% {
                        width: 90%;
                    }
                }
                
                @keyframes progress2 {
                    0% {
                        width: 0%;
                    }
                    100% {
                        width: 60%;
                    }
                }
                
                @keyframes progress3 {
                    0% {
                        width: 0%;
                    }
                    100% {
                        width: 50%;
                    }
                }
                
                @keyframes progress4 {
                    0% {
                        width: 0%;
                    }
                    100% {
                        width: 40%;
                    }
                }