.skills {
    background-color: #1d1d1d;
    color: #fff;
    position: relative;
    padding: 140px 0px 150px 0px;
    &::after {
        @include pseudo($content: '<body>');
        font-family: 'La Belle Aurore', cursive;
        color: #515152;
        top: 3%;
        left: 2%;
        font-size: 15px;
    }
    &::before {
        @include pseudo($content: '<html>');
        font-family: 'La Belle Aurore', cursive;
        color: #515152;
        top: 0px;
        left: 0px;
        font-size: 15px;
    }
    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__left {
        width:55%;
        @media screen and (max-width: 1280px) {
            width:55%;
        }
        @media screen and (max-width: 920px) {
            width:90%;
        }
    }
// title
    &__title {
        position: relative;
        margin-bottom: 25px;
        &::before {
            @include pseudo($content: '<h2>');
            font-family: 'La Belle Aurore', cursive;
            color: #515152;
            top: -25px;
            left: -20px;
            font-size: 15px;
        }
        &::after {
            @include pseudo($content: '</h2>');
            font-family: 'La Belle Aurore', cursive;
            color: #515152;
            top: 20px;
            left: -20px;
            font-size: 15px;
        }
    }
// subtitle
    &__subtitle {
        position: relative;
        &::before {
            @include pseudo($content: '<h3>');
            font-family: 'La Belle Aurore', cursive;
            color: #515152;
            top: -12px;
            left: -20px;
            font-size: 15px;
        }
        &::after {
            @include pseudo($content: '</h3>');
            font-family: 'La Belle Aurore', cursive;
            color: #515152;
            top: 38px;
            left: -20px;
            font-size: 15px;
            @media screen and (max-width: 463px) {
                top: 67px;
            }
        }                        
    }                    
    &__text {
        margin-bottom: 30px;
        &::before {
            @include pseudo($content: '<p>');
            font-family: 'La Belle Aurore', cursive;
            color: #515152;
            top: -18px;
            left: -15px;
            font-size: 15px;
        }
        &::after {
            @include pseudo($content: '</p>');
            font-family: 'La Belle Aurore', cursive;
            color: #515152;
            bottom: -20px;
            left: -16px;
            font-size: 15px;
        }
        @media screen and (max-width: 360px) {
            font-size: 15px;
            max-width: 250px;
        }
    }
    &__diagramm-block {
        position: relative;
        &::before {
            @include pseudo($content: '<div>');
            font-family: 'La Belle Aurore', cursive;
            color: #515152;
            top: -18px;
            left: -15px;
            font-size: 15px;
        }
        &::after {
            @include pseudo($content: '</div>');
            font-family: 'La Belle Aurore', cursive;
            color: #515152;
            bottom: -20px;
            left: -16px;
            font-size: 15px;
        }
        
    }
    &__block-text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media screen and (max-width: 360px) {
            max-width: 250px;
        }
    }
    // PROGRESS BAR
    &__inner {
        width: 100%;
        padding-top: 5px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        @media screen and (max-width: 360px) {
            max-width: 250px;
        }
    }
    &__ampty {
        overflow: hidden;
        background: rgba(255, 255, 255, .09);
        min-width: 100%;
        position: relative;
        height: 8px;
    }
    &__fill {
        background-color: #ff4522;
        height: 100%;
    }
    &__progress-line1 {
        animation: progress1 3s forwards;
    }
    &__progress-line2 {
        animation: progress2 3s forwards;
    }
    &__progress-line3 {
        animation: progress3 3s forwards;
    }
    &__progress-line4 {
        animation: progress4 3s forwards;
    }
    &__progress-line5 {
        animation: progress5 3s forwards;
    }
    &__progress-line6 {
        animation: progress6 3s forwards;
    }
    &__right {
        width: 360px;
        position: relative;
        &::before {
            @include pseudo($content: '<img>');
            font-family: 'La Belle Aurore', cursive;
            color: #db7b7b;
            top: -40px;
            left: -15px;
            font-size: 15px;
            @media screen and (max-width: 920px) {
                display: none;
            }
        }
        &::after {
            @include pseudo($content: '</img>');
            font-family: 'La Belle Aurore', cursive;
            color: #db7b7b;
            bottom: -29px;
            left: -16px;
            font-size: 15px;
            @media screen and (max-width: 920px) {
                display: none;
            }
        }
    }
    &__img {
        width: 360px;
        width:100%;
        flex-grow: 1;
        @media screen and (max-width: 1280px) {
            width: 310px;
        }
        @media screen and (max-width: 1100px) {
            margin-left: 20px;
        }
        @media screen and (max-width: 920px) {
            display: none;
        }
    &:hover {
            box-shadow:
            1px 1px rgb(255, 69, 34),
            2px 2px rgb(255, 69, 34),
            3px 3px rgb(255, 69, 34),
            4px 4px rgb(255, 69, 34),
            5px 5px rgb(255, 69, 34),
            6px 6px rgb(255, 69, 34),
            7px 7px rgb(255, 69, 34);
            -webkit-transform: translateX(-7px);
            transform: translateX(-7px);
        }
    }
    &__tegs {
        position: relative;
        &::after {
            @include pseudo($content: '</body>');
            font-family: 'La Belle Aurore', cursive;
            color: #515152;
            top: 75px;
            left: 35px;
            font-size: 15px;
        }
        &::before {
            @include pseudo($content: '</html>');
            font-family: 'La Belle Aurore', cursive;
            color: #515152;
            top: 115px;
            left: 0;
            font-size: 15px;
        }

    }
}
                
    
@keyframes progress1 {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

@keyframes progress2 {
    0% {
        width: 0%;
    }
    100% {
        width: 40%;
    }
}

@keyframes progress3 {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

@keyframes progress4 {
    0% {
        width: 0%;
    }
    100% {
        width: 30%;
    }
}   

@keyframes progress5 {
    0% {
        width: 0%;
    }
    100% {
        width: 60%;
    }
}

@keyframes progress6 {
    0% {
        width: 0%;
    }
    100% {
        width: 20%;
    }
}